@font-face {
  font-family: "TrebuchetMS";
  src: url("../fonts/TrebuchetMS.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WebSymbolsRegular";
  src: url("../fonts/websymbols-regular-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url("../img/pattern.png");
}

#header {
  width: 100%;
  height: 70px;
  font-family: "BebasNeue";
  background: black;
  color: white;
}
#header #wrap {
  width: 1250px;
  height: 74px;
  text-align: center;
  margin: 0 auto;
}
#header #wrap #logo {
  float: left;
  display: block;
  width: 200px;
  height: 55px;
  line-height: 62px;
  background-color: #37bcf9;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 7px;
  margin-left: 20px;
  transition: all 300ms;
  overflow: hidden;
}
#header #wrap #logo .gear {
  font-family: "WebSymbolsRegular";
  float: left;
  display: block;
  margin-left: 25%;
  font-size: 30px;
}
#header #wrap #logo h3 {
  font-size: 40px;
  float: right;
  display: block;
  margin-right: 40px;
  margin-top: 3px;
}
#header #wrap nav {
  display: block;
  float: right;
  height: 70px;
  line-height: 70px;
}
#header #wrap nav ul li {
  float: right;
  display: block;
  list-style: none;
  margin: 0px 20px;
  font-size: 24px;
}
#header #wrap nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 200ms;
}
#header #wrap nav ul li a:hover {
  color: #37bcf9;
  transform: scale(1.2, 1.2);
}

.wrap #info #banner {
  width: 90%;
  margin: 20px auto;
  height: 100px;
  line-height: 100px;
  border: 10px solid white;
  box-shadow: 2px 2px 2px gray;
  background: url("../img/bakbaner.png");
  background-position: -200px, -200px;
}
.wrap #info #banner h1 {
  display: block;
  width: 850px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "BebasNeue";
  font-size: 45px;
  color: white;
  margin: 0px 30%;
}
.wrap #info .cards {
  width: 100%;
}
.wrap #info .cards .card {
  padding: 20px;
  width: 180px;
  height: 305px;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 8px black;
  margin: 5px;
  margin-top: 40px;
  display: block;
  float: left;
  overflow: hidden;
  background: white;
}
.wrap #info .cards .card .icon {
  display: block;
  width: 100%;
  height: 130px;
  line-height: 110px;
  margin: 0 auto;
  font-size: 50px;
  font-family: "WebSymbolsRegular";
  text-align: center;
}
.wrap #info .cards .card .category {
  width: 100%;
  height: 50px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  color: rgb(16, 127, 174);
  font-family: "BebasNeue";
  letter-spacing: 2px;
}
.wrap #info .cards .card .description {
  width: 100%;
  color: rgb(45, 171, 225);
  font-family: "TrebuchetMS";
  font-size: 15px;
  text-align: center;
}
.wrap #info .cards .card:first-child {
  margin-left: 4.5%;
}
.wrap #info .cards .card:last-child {
  margin-right: 0px;
}
.wrap #aside {
  width: 300px;
  min-height: 1200px;
  font-family: "TrebuchetMS";
  display: block;
  float: right;
  margin: 4.6%;
}
.wrap #aside .icon {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  font-size: 20px;
  font-family: "WebSymbolsRegular";
  text-align: center;
}
.wrap #aside h3 {
  display: block;
  width: auto;
  height: 45px;
  line-height: 45px;
  font-size: 30px;
  font-weight: bold;
  font-family: "BebasNeue";
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  padding-left: 15px;
  margin: 15px 0px;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 5px black;
  background: #ccc;
}
.wrap #aside h3:first-child {
  margin-top: 0px;
}
.wrap #aside #search {
  width: 85%;
  height: 30px;
  margin: 10px auto;
  background: white;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 7px black;
}
.wrap #aside #search form input[type=text] {
  width: 85%;
  height: 25px;
  line-height: 25px;
  outline: none;
  border: none;
  padding-left: 5px;
  border-radius: 5px;
  background: transparent;
  color: rgb(106, 106, 106);
  margin-top: 2px;
  float: left;
  display: block;
}
.wrap #aside #search form input[type=text]:focus {
  color: rgb(39, 38, 38);
}
.wrap #aside #search form label[type=button] {
  width: 10px;
  height: 30px;
  float: left;
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-left: 6px;
  font-size: 16px;
  border-left: solid 1px #ccc;
  color: #555;
  font-family: "WebSymbolsRegular";
}
.wrap #aside .login form {
  margin: 0 auto;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: 1px 0px 5px black;
  height: 200px;
  width: 90%;
  background: white;
  padding: 2%;
}
.wrap #aside .login form #user,
.wrap #aside .login form #password {
  width: 10px;
  height: 30px;
  display: block;
  float: left;
  background: transparent;
  border: none;
  padding-left: 2px;
  font-size: 16px;
  color: #555;
  height: 25px;
  width: 5%;
}
.wrap #aside .login form #user {
  position: absolute;
  margin-top: 8px;
}
.wrap #aside .login form #password {
  position: absolute;
}
.wrap #aside .login form input[type=email],
.wrap #aside .login form input[type=password] {
  width: 80%;
  height: 25px;
  line-height: 25px;
  outline: none;
  border: 1px solid #ccc;
  background: transparent;
  color: rgb(106, 106, 106);
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  padding-left: 40px;
}
.wrap #aside .login form input[type=email]:focus,
.wrap #aside .login form input[type=password]:focus {
  color: rgb(39, 38, 38);
}
.wrap #aside .login form input[type=submit],
.wrap #aside .login form input[type=reset] {
  text-align: center;
  width: 100px;
  height: 35px;
  margin-top: 10px;
  border-radius: 3px;
  color: white;
  background: linear-gradient(to bottom, rgb(16, 127, 174) 0%, rgb(3, 65, 91) 100%);
  text-transform: uppercase;
  border: solid 1px #ccc;
  float: left;
  cursor: pointer;
  font-size: 15px;
  font-family: "TrebuchetMS";
  margin-left: 23px;
  margin-bottom: 10px;
}
.wrap #aside .login form input[type=reset] {
  margin-right: 20px;
}
.wrap #aside .login form input[type=submit]:hover,
.wrap #aside .login form input[type=reset]:hover {
  background: rgb(16, 127, 174);
}
.wrap #aside .login form a {
  color: #555;
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin-top: 5px;
  margin-left: 24px;
}
.wrap #aside .login form a:hover {
  color: #37bcf9;
}
.wrap #aside #social {
  padding: 20px;
  width: 200px;
  height: 305px;
  border: solid 1px #ccc;
  box-shadow: 1px 1px 8px black;
  margin: 20px auto;
  background: white;
  font-family: "WebSymbolsRegular";
}

/*# sourceMappingURL=style.css.map */
